*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color: rgb(251, 101, 243);
    font-family:'Roboto',Helvetica,sans-serif;
}

.app{
    display:flex;
    flex-flow:column;
    width:100vw;
    height:100vh;
    
}

header{
    display:flex;
    justify-content:center;
    align-items:center;
    height:60px;
}

.lists{
    display:flex;
    flex:1;
    width:100%;
    overflow-x:scroll;
    justify-content: center;
    margin-top: 20px;
}

.lists .list{
    display:flex;
    flex-flow:column;
    flex:1;
    width:100%;
    
    max-width:500px;

    height:90%;
    min-height:150px;
    background-color:rgb(0, 0, 0,0.1);
    margin:30px 50px;
    padding:8px;
    transition:all 0.2s linear;
}

.lists .list .list-item{
    background-color: #F3F3F3;
    border-radius: 8px;
    padding:15px 20px;
    text-align:center;
    margin:4px 0px;
}

h1 {
    margin-top: 40px;
    font-size: 40px;
    font-family: cursive;
}

button{
    position: absolute;
    right: 150px;
    top: 37px;
    border: 2px solid black;
    border-radius: 14px;
    font-size: 16px;
    padding: 6px 22px;
}

button:hover{
    cursor:pointer;
    background-color:black;
    color:white
}
 
